
.home_background{
        height: 100%;
        width: 100%;    
        opacity: 30;
    }

.hmpg{
    color: paleturquoise;
}

p{
    font-size: x-large;
    font-weight: 700;
}

form{
    display: flex;
    align-content: center;
}

label{
    align-self: center;
}